/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background: #fffcf1;
    position: relative;
    display: flex;
    flex-direction: column;
}
.sidebar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #25b9b9;
    align-items: center;
    padding: 0 10px 0 10px;
    margin-bottom: 18px;
}
.logo-content img{
    width: 50px;
    height: auto;

}
ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    font-weight: 200;
}

ul li a:hover{
    background: #e25037;
    border: 1px solid #aa9d9a;
    border-radius: 10px;
    padding: 10px;
    font-weight: 800;
    transform: scale(1.1);
}
ul li a :link{
    background: #e25037;
    border: 1px solid #aa9d9a;
    border-radius: 10px;
    padding: 10px;
    font-weight: 800;
}

/*===============================*/

/*Nội dung content*/
#tao-hoa-don {
    position: relative;
    display: flex;
    flex-direction: column;
}

#back {
    border-bottom: 2px solid black;
    width: 100%;
}

#back > a{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    margin-left: 15px;
}

.btn_xac_nhan{
    margin:15px 15px 0 15px;
    padding: 10px 20px;
    background-color: #25b9b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

h1 {
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}

label {
    margin-right: 50px;
}

label > input {
    margin-left: 10px;
}

#hoa-don-ban-hang {
    background:#fff;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 20px 30px;
    margin-top: 20px;
    position: relative;
}

fieldset{
    border: none;
}

.first-fieldset{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    height: 30px;
}

.second-fieldset{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.third-fieldset{
    display: flex;
    justify-content: space-around;
    align-self: start;
    margin-bottom: 20px;
}

.third-fieldset > label > input{
    width: auto;
    height: 20px;
}


table {
    width: 100%;
}

table, td, th {
    border-bottom:1px solid #000;
    border-collapse:collapse; /*hợp nhất border thành 1 đường kẻ*/
}

td, th {
    padding: 6px 10px;
    text-align: center;
}



/*Phần chỉnh sửa chung*/

.container-flex-column{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.position-relative{
    margin-top: 30px;
    margin-bottom: 15px;
    width: 100%;
    height: 100%;
    position: relative;
}
.container-flex-row{
    display: flex;
    flex-direction: row;
}
.bold-text{
    font-size: 18px;
    font-weight: 500;
    width: auto;
    color: #292828;
}
.big-text{
    font-size: 20px;
    font-weight: 500;
    width: auto;
    color: #292828;
    border-top: 2px solid black;
    margin-bottom: 20px;
    padding-top: 5px;
}
.small-text{
    font-size: 13px;
    font-weight: 500;
    justify-content: center;
    color: #292828;
}
.border-info{
    padding: 10px;
    background: white;
    border: 1px solid black;
    font-size: large;
}
