body {
    width: 100%;
    background-color:white;
    color:black;
    font-style: Montserrat
}

h1 {
    text-align: center;
}

fieldset {
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: aqua
}