/*===============================*/
/*Nội dung trang*/
#thong-tin-khach-hang {
    position:relative;
    display:flex;
    flex-direction: column;
    margin-left: 10px;
}
.line {
    border-bottom: 2px solid black;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.items-khachhang{
    width: 50%;
    align-items: center;
    justify-content: center;
}
.name{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.margin-right{
    margin-right: 100px;
}
.margin-right-dia-chi{
    margin-right: 85px;

}
.margin-bottom{
    margin-bottom: 10px;
}

.align-center{
    align-items: center;
}
#btn-back{
    margin-left: 5px;
    margin-bottom: 10px;
}
.history{
    margin-top: 20px;
}
table {
    width: 60%;
}

table, td, th { 
    border-bottom:1px solid #000;
    border-collapse:collapse; /*hợp nhất border thành 1 đường kẻ*/
}

.thuoc-tinh {
    color: #25b9b9;
}

td, th {
    padding: 6px 10px;
    text-align: center;
}
.big-text {
    font-size: 20px;
    font-weight: 500;
    width: auto;
    color: #292828;
}

.small-text {
    font-size: 13px;
    font-weight: 500;
    color: #292828;
}

.container-flex-column{
    display: flex;
    flex-direction: column;
}

.container-flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}

.border-info {
    padding: 10px;
    font-size: large;
}

.position-relative{
    position: relative;
}

.space-around{
    justify-content: space-around;

}
.adjust-center{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} 
.chart {
    margin-top: 50px;
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    position: relative;
  }
  
  .line-chart {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .line-chart span {
    width: 25%;
    position: absolute;
    bottom: 0;
    background-color: steelblue;
    transition: height 0.5s;
  }
  
  .line-chart span:nth-child(1) {
    left: 0;
  }
  
  .line-chart span:nth-child(2) {
    left: 25%;
  }
  
  .line-chart span:nth-child(3) {
    left: 50%;
  }
  
  .line-chart span:nth-child(4) {
    left: 75%;
  }

  /*Button cập nhật*/
.btn_cap_nhat{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    background-color: #25b9b9;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}

.btn_cap_nhat:hover {
    background-color: #0056b3;
}
  
.btn_cap_nhat i {
    margin-right: 8px;
}

#btn-back {
    border-bottom: 2px solid black;
    width: 100%;
}
  
#btn-back > a{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    margin-left: 15px;
  }
  
#btn-back a:hover {
    color: #25b9b9;
}