*{
    font-family: 'Montserrat', sans-serif; 
}

h1{
    text-align: center;
    background: #25b9b9;
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: sticky;
    top: 70px;
    z-index: 1;
    box-shadow: 5px 0px 10px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
  }