/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background: #fffcf1;
}

.sidebar {
    position:fixed;
    top:0;
    left: 0;
    width: 240px;
    height: 100%;
    background: #25b9b9;
    padding: 6px 14px;
}

.sidebar .logo-content .logo {
    display:flex;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 50px;
    pointer-events: none;
}

.logo-content .logo h3 {
    font-size: 20px;
    color:#fff;
}

.logo h3 {
    font-size: 20px;
    color:#fff;
    text-align: center;
    margin-top: 6px;
}

.sidebar #btn {
    position:absolute;
    top: 6px;
    left: 90%;
    transform: translateX(-50%);
    color:#fff;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position:relative;
    width: 100%;
    height: 50px;
    list-style: none;
    margin: 5px 0;
    line-height: 50px;
}

.sidebar ul li input {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    border-radius: 6px;
    border:none;
    outline:none;
    padding-left: 50px;
    font-size: 18px;
    color:#fff;
}

.sidebar ul li a {
    display: center;
    align-items: center;
    color:#fff;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: .5s ease;
}

.sidebar ul li a:hover {
    background: #c64343;
}

.sidebar ui li i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar .list-logout {
    position:absolute;
    bottom: 0;
    margin: 15px 0;
}

/*navbar*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 100px;
    background: #25b9b9;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position:relative;
    font-size: 18px;
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content:'';
    position:absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background:#fff;
    transition: .3s; /*đường gạch trắng hiện từ trái sang phải 3s*/
}

.navbar a:hover::before { /*trỏ chuột sẽ hiện đường gạch phía dưới*/
    width: 100%;
}

/*===============================*/


/*nội dung chính - content*/
.hanghoa {
    position:absolute;
    top:100px;
    left: 260px;
    right: 20px;
}

#tensp {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.hanghoa {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.sanpham {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float:left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background:#fff;
}

.sanpham:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

img {
    width: 150px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
    color:#b2bec3;
    padding-top: 0 8px;
}

h5 {
    font-size: 26px;
    text-align: center;
    color: #c64343;
    margin: 0;
}

button {
    text-align: center;
    font-size: 24px;
    color:#fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buy {
    background: #004aad;
    font-weight: 600;
}

@media(max-width:1000px){
    .sanpham{
        width: 45%;
    }
}

@media(max-width:750px){
    .sanpham{
        width: 100%;
    }
}

/*button thêm xóa hàng hóa*/
.btn {
    width: 40%;
    height: 45px;
    background:#004aad;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}