<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="stylesheet" href="/css/billPurchase.css">
    </header>
    <body>
        <!--Nội dung content-->
        <main id="hoa-don">
            <!--Nút trở về-->
            <section id="back">
                <a href="/mua-hang">
                    <i class='bx bx-arrow-back'></i>
                </a>
            </section>

            <!--BUTTON TẠO HÓA ĐƠN-->
            <section>
                <a href="/mua-hang/hoa-don/tao-hoa-don">
                    <button type="submit" class="btn_tao_hoa_don">Tạo hóa đơn</button>
                </a>
            </section>

            <!--DANH SÁCH HÓA ĐƠN-->
            <div class="hoadon">
                <table>
                    <thead>
                        <tr><!--tạo hàng-->
                            <th><!--tạo cột--><!--tiêu đề là th-->
                                Số
                            </th>
                            <th>Khách hàng</th>
                            <th>Ngày lập hóa đơn</th>
                            <th>Sản phẩm</th>
                            <th>Thuế</th>
                            <th>Tổng</th>
                            <th>Thanh toán</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr><!--tạo hàng-->
                            <td><!--tạo cột-->
                                A00001
                            </td>
                            <td>Thiên Bảo</td>
                            <td>01/01/2024</td>
                            <td>Laptop</td>
                            <td>10%</td>
                            <td>20.000.000đ</td>
                            <td>MOMO</td>
                            <td>Thành công</td>
                        </tr>
    
                        <tr><!--tạo hàng-->
                            <td><!--tạo cột-->
                                B00002
                            </td>
                            <td>Phước Chung</td>
                            <td>15/3/2024</td>
                            <td>Sạc dự phòng</td>
                            <td>10%</td>
                            <td>300.000</td>
                            <td>BANK</td>
                            <td>Thành công</td>
                        </tr>
    
                        <tr><!--tạo hàng-->
                            <td><!--tạo cột-->
                                C00003
                            </td>
                            <td>Thiên Bảo</td>
                            <td>20/3/2024</td>
                            <td>Tai nghe Bluetooth</td>
                            <td>10%</td>
                            <td>2.500.000</td>
                            <td>BANK</td>
                            <td>ĐANG PHẢN HỒI</td>
                        </tr>
                    </tbody>
    
                    <tfoot>
    
                    </tfoot>
    
                    
                </table>
            </div>

        </main>
    </body>
</html>