<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--Hiển thị chính-->
        <main id="san-xuat">
            <section>
               <a href="them_san_pham.html"> 
                <button class="btn_lap_ke_hoach_san_xuat">
                    <i class="fa-solid fa-pen"></i>
                    <span>Lập kế hoạch sản xuất</span>
                </button>
            </a>
            </section>
            <span class="line"></span>
            <section  class="main_workspace container-flex-row">
        
                <div class="sp_yeu_cau container-flex-column">
                    <div class="title_yeu_cau container-flex-column">
                        <p class="big-text">YÊU CẦU</p>
                        <span class="red-color"></span>
                    </div>
                    <span class="line"></span>
                    <div class="container-flex-column adjust-center">
                        <items>
                            <div>
                                <p><p><strong>[WH/MO/00001]</strong></p>DDR4</p>
                                <p>22/02/2024</p>
                            </div>
                            <a href="./chi_phi_quy_trinh/index.html">
                                <button class="btn_chuyen">
                                    <i class="fa-solid fa-database"></i>
                                </button>
                            </a>
                        </items>
                    </div>

                    <div class="container-flex-column adjust-center">
                        <items>
                            <div>
                                <p><p><strong>[WH/MO/00001]</strong></p>DDR4</p>
                                <p>22/02/2024</p>
                            </div>
                            <a href="./chi_phi_quy_trinh/index.html">
                                <button class="btn_chuyen">
                                    <i class="fa-solid fa-database"></i>
                                </button>
                            </a>
                        </items>
                    </div>

                </div>

                <div class="sp_dang_tien_hanh container-flex-column">
                    <div class="title_dang_tien_hanh container-flex-column">
                        <p class="big-text">ĐANG TIẾN HÀNH</p>
                        <span class="blue-color"></span>
                    </div>
                    <span class="line"></span>
                    <div class="container-flex-column adjust-center">
                        <items>
                            <div>
                                <p><p><strong>[WH/MO/00001]</strong></p>DDR4</p>
                                <p>22/02/2024</p>
                            </div>
                            <a href="./chi_phi_quy_trinh/index.html">
                                <button class="btn_chuyen">
                                    <i class="fa-solid fa-database"></i>
                                </button>
                            </a>
                        </items>
                    </div>
                </div>

                <div class ="sp_da_hoan_thanh container-flex-column">
                    <div class=" title_da_hoan_thanh container-flex-column">
                        <p class="big-text">ĐÃ HOÀN THÀNH</p>
                        <span class="green-color"></span>
                    </div>
                    <span class="line"></span>
                    <div class="container-flex-column adjust-center">
                        <items>
                            <div>
                                <p><p><strong>[WH/MO/00001]</strong></p>DDR4</p>
                                <p>22/02/2024</p>
                            </div>
                            <a href="./chi_phi_quy_trinh/index.html">
                                <button class="btn_chuyen">
                                    <i class="fa-solid fa-database"></i>
                                </button>
                            </a>
                        </items>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>