<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="stylesheet" href="/css/purchase.css">
    </header>
    <body>
        <!--Nội dung content-->
        <main id="hang-hoa">
            <section>
                <a href="/mua_ban/hoa_don/index.html"> 
                    <button class="btn_hoa_don">
                        <span>Hóa đơn</span>
                    </button>
                </a>
            </section>

            <section>
                <div class="sanpham">
                    <img src="iphone_15_pro.png" alt="">
                    <h4 id="tensp">iPhone 15 Pro</h4>
                    <p>Màn hình 6.1 inch</p>
                    <h5>28.999.000đ</h5>
                    <p>hoặc 1.181.000đ/tháng trong 24 tháng</p>
                    <p>Trả góp theo tháng với phí dịch vụ thực 1.67%, sau khi thanh toán lần đầu 20%. 
                        Có thêm tùy chọn thanh toán khi hoàn tất giao dịch.</p>
                    <a href="/mua_ban/chi_tiet_san_pham/index.html">
                        <button class="buy">Mua ngay</button>
                    </a>  
                </div>

                <div class="sanpham">
                    <img src="iphone_15_pro.png" alt="">
                    <h4 id="tensp">iPhone 15 Pro</h4>
                    <p>Màn hình 6.1 inch</p>
                    <h5>28.999.000đ</h5>
                    <p>hoặc 1.181.000đ/tháng trong 24 tháng</p>
                    <p>Trả góp theo tháng với phí dịch vụ thực 1.67%, sau khi thanh toán lần đầu 20%. 
                        Có thêm tùy chọn thanh toán khi hoàn tất giao dịch.</p>
                    <a href="/mua_ban/chi_tiet_san_pham/index.html">
                        <button class="buy">Mua ngay</button>
                    </a>
                </div>
    
                <div class="sanpham">
                    <img src="iphone_15_pro.png" alt="">
                    <h4 id="tensp">iPhone 15 Pro</h4>
                    <p>Màn hình 6.1 inch</p>
                    <h5>28.999.000đ</h5>
                    <p>hoặc 1.181.000đ/tháng trong 24 tháng</p>
                    <p>Trả góp theo tháng với phí dịch vụ thực 1.67%, sau khi thanh toán lần đầu 20%. 
                        Có thêm tùy chọn thanh toán khi hoàn tất giao dịch.</p>
                    <a href="/mua_ban/chi_tiet_san_pham/index.html">
                        <button class="buy">Mua ngay</button>
                    </a>

                </div>
    
                <div class="sanpham">
                    <img src="iphone_15_pro.png" alt="">
                    <h4 id="tensp">iPhone 15 Pro</h4>
                    <p>Màn hình 6.1 inch</p>
                    <h5>28.999.000đ</h5>
                    <p>hoặc 1.181.000đ/tháng trong 24 tháng</p>
                    <p>Trả góp theo tháng với phí dịch vụ thực 1.67%, sau khi thanh toán lần đầu 20%. 
                        Có thêm tùy chọn thanh toán khi hoàn tất giao dịch.</p>
                    <a href="/mua_ban/chi_tiet_san_pham/index.html">
                        <button class="buy">Mua ngay</button>
                    </a>
                </div>
    
            </section>
        </main>
    </body>
</html>