/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background: #fffcf1;
    position: relative;
    display: flex;
    flex-direction: column;
}
.sidebar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #25b9b9;
    align-items: center;
    padding: 0 10px 0 10px;
    margin-bottom: 18px;
}
.logo-content img{
    width: 50px;
    height: auto;

}
ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    font-weight: 200;
}

ul li a:hover{
    background: #e25037;
    border: 1px solid #aa9d9a;
    border-radius: 10px;
    padding: 10px;
    font-weight: 800;
    transform: scale(1.1);
}
ul li a :link{
    background: #e25037;
    border: 1px solid #aa9d9a;
    border-radius: 10px;
    padding: 10px;
    font-weight: 800;
}

/*===============================*/
/*Nội dung trang*/
#khach-hang {
    position:relative;
    display:flex;
    flex-direction: column;
}

.line {
    border-bottom: 2px solid black;
    width: 100%;
}

/*===========Thanh tìm kiếm============*/
#customer-search {
    display: flex;
    position: sticky; /*Hiển thị "customer-search" cố định khi cuộn trang*/
    z-index: 2000; /* Đảm bảo hiển thị "customer-search" trên cùng */
}

#search-box {
    position:fixed;
    right: 20px;
    background: #25b9b9;
    border: 1px solid white;
    cursor: pointer;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

/*text search*/
#search-box #search-text{
    border: none;
    outline: none;
    color: white;
    background: none;
    width: 85%;
    padding: 10px 10px;
}

/*button search*/
#search-box #search-btn{
    border: none;
    color:#fff;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
}


/*================BẢNG KHÁCH HÀNG======================*/


/*===============CỘT KHÁCH HÀNG*===============*/
.new-customer, .potential-customer, .vip-customer {
    border: none;
    cursor: pointer;
    width: calc(100% / 3);
}

.type-new-customer, .type-potential-customer, .type-vip-customer {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.yellow-color, .orange-color, .red-color{
    border: 1px solid black;
    cursor: pointer;
    width: 100px;
    height: 20px;
}

.yellow-color{
    background: yellow;
}

.orange-color{
    background: orange;
}

.red-color{
    background: red;
}

div > items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    background: white;
    width: 80%;
    height: auto;
    margin: 10px;
}

#chi-tiet-khach-hang{
    margin: 5px 5px;
    padding: 5px 5px;
    background-color: #25b9b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: end;
    position: absolute; /*Hiển thị nút "chi tiết" ở góc dưới bên phải*/
    right: 0;
    bottom: 0;
    outline: none;
}
/*=========CĂN CHỈNH BỐ CỤC=========*/
.container-flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.adjust-center{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main_workspace {
    margin-top: 5%;
}

.big-text {
    font-size: 18px;
    font-weight: bold;
}

.post-title {
    text-decoration: none;
    color:black;
    font-weight: bold;
}
/*==============================================*/